<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frintos.frintos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="com.frintos.frintos.frintosapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.frintos.frintos.WallpaperActivity"
            android:exported="true" />
        <activity
            android:name="com.frintos.frintos.TossWritingActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.frintos.frintos.ChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.frintos.frintos.DisplayThisUser" />
        <activity android:name="com.frintos.frintos.DisplayImage" />
        <activity android:name="com.frintos.frintos.allUsers" />
        <activity android:name="com.frintos.frintos.DisplayUser" />
        <activity android:name="com.frintos.frintos.Welcome" />
        <activity android:name="com.frintos.frintos.otpcheck" />
        <activity android:name="com.frintos.frintos.LoginActivity" />
        <activity android:name="com.frintos.frintos.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>